html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.title {
  font-size: 3rem;
  text-align: center;
}

.image-container {
  display: flex;
  justify-content: center;
}

.image {
  width: 100%;
  max-width: 400px;
}

.recipes {
  font-size: 1.5rem;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.recipes > li > a {
  text-decoration: none;
}
