*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.title {
  font-size: 3rem;
  text-align: center;
}

.image-container {
  display: flex;
  justify-content: center;
}

.image {
  width: 100%;
  max-width: 400px;
}
